<!DOCTYPE html>

<html>
<head>
    <title> Rang Lista </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    {% load static %}
    <script src="{% static "kviz/inkvizitor.js" %}"></script>
    <link rel="stylesheet" href="{% static "accounts/login.css" %}">
    <link rel="stylesheet" href="{% static "accounts/register.css" %}">
    <link rel="stylesheet" href="{% static "kviz/inkvizitor.css" %}">
</head>
<body>
{% if user.is_authenticated %}
    <div class="logout">
        <button type="submit" class="logout_button">Odjavi se</button>
    </div>
{% else %}
    <div class="logout">
        <button type="button" class="go_login" onclick="login()">Prijavi se</button>
        <button type="button" class="register" onclick="register()">Registruj se</button>
    </div>
{% endif %}
<div>
    <ol>
        {% for obj in result_set %}
            <li class="litem">{{ obj.username }} : {{ obj.score }}</li>
        {% endfor %}
    </ol>
</div>

<div class='category'>

    <div>
        <button type="submit" class="new_game_button" onclick="new_game()">NOVA IGRA</button>
    </div> <!--close div witn class="new_game" -->
</div>
</body>
</html>
